#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

body {
  background: linear-gradient(-15deg, lightgrey, silver, lightgrey);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.dash-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  /* max-width: 100vw; */
}

@media (max-width: 460px) {
  .dash-container {
    justify-content: flex-start;
  }
}

.pointer {
  cursor: pointer;
}

.bg-orange {
  background: var(--bs-orange);
}

.bg-teal {
  background: var(--bs-teal);
}

.bg-indigo {
  background: var(--bs-indigo);
}